.form-wrapper {
  margin: auto;
  text-align: center;
}

.dice-container {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
}

.dice {
  border: 1px solid black;
  padding: 25px;
  width: 100px;
  height: 100px;
  margin: 0;
}

.dice-inner {
  height: 100%;
  position: relative;
}

.dot {
  border-radius: 50%;
  background-color: black;
  height: 10px;
  width: 10px;
  position: absolute;
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.center-left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.top-right {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
